# Ambiente virtual
venv/
__pycache__/
*.pyc

# Arquivos de sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Arquivos de saída
*.pdf

# Python specific
.env

# Bytecode do Python
__pycache__/
*.py[cod]
*.pyo

# Banco de dados SQLite
*.sqlite3
*.db

# Arquivos de cache do Flask
instance/
*.log
