<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% for field, errors in form.errors.items() %}
      {% for error in errors %}
        <p class="text-red-600">{{ field }} - {{ error }}</p>
      {% endfor %}
    {% endfor %}
    <h1>Ola Gerador de curriculos</h1>
    <h3>Bem vindo {{ current_user.email }}</h3>
    <a href="{{ url_for('sair') }}">Sair</a>
    <a href="{{ url_for('ver_curriculo') }}">Ver Curriculo</a>
<div class="max-w-md mx-auto mt-10 bg-white shadow-lg rounded-lg overflow-hidden">
  <div class="text-2xl py-4 px-6 bg-gray-900 text-white text-center font-bold uppercase">
    Dados Pessoais
  </div>
  <form class="py-4 px-6" method="POST">
    {{ form.csrf_token }}

    <div class="mb-4">
      {{ form.nome.label(class="block text-gray-700 font-bold mb-2") }}
      {{ form.nome(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
    </div>

    <div class="mb-4">
      {{ form.data_nascimento.label(class="block text-gray-700 font-bold mb-2") }}
      {{ form.data_nascimento(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
    </div>

    <div class="mb-4">
      {{ form.sexo.label(class="block text-gray-700 font-bold mb-2") }}
      {{ form.sexo(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
    </div>

    <div class="mb-4">
      {{ form.estado_civil.label(class="block text-gray-700 font-bold mb-2") }}
      {{ form.estado_civil(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
    </div>

    <div class="mb-4">
      {{ form.email.label(class="block text-gray-700 font-bold mb-2") }}
      {{ form.email(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
    </div>

    <div class="mb-4">
      {{ form.telefone.label(class="block text-gray-700 font-bold mb-2") }}
      {{ form.telefone(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
    </div>

    <div class="mb-4">
      {{ form.whatsapp.label(class="block text-gray-700 font-bold mb-2") }}
      {{ form.whatsapp(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
    </div>

    <div class="mb-4">
      {{ form.cargo.label(class="block text-gray-700 font-bold mb-2") }}
      {{ form.cargo(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
    </div>

    <div class="mb-4">
      {{ form.sobre_min.label(class="block text-gray-700 font-bold mb-2") }}
      {{ form.sobre_min(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", rows="4") }}
    </div>

    <div class="flex items-center justify-center mb-4">
      <button type="submit"
        class="bg-gray-900 text-white py-2 px-4 rounded hover:bg-gray-800 focus:outline-none focus:shadow-outline">
        Salvar Dados Pessoais
      </button>
    </div>
  </form>
</div>

</body>
</html>